* {
    background-color: cornsilk;
    font-family: 'Parisienne', cursive;

}

div {
    display: flex;
    background-color: black;
}

.logo h2{
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 30px;
}

h2:hover {
    transform: translate(-20px, -15px);
    letter-spacing: 5px;
    color: red;
}

.nav-bar {
    display: flex;
    background-color: black;
    justify-content: space-around;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    margin-left: 50px;
    padding: 10px;
    background-color: black;
}

.nav-links li {
    list-style: none;
    background-color: black;

}

.nav-links a{
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 25px;
}

.nav-links li a:hover{
    color: red;
    letter-spacing: 7px;
}